<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="prod">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <fieldNames>
                    <timestamp>ts</timestamp>
                    <message>msg</message>
                    <thread>thread</thread>
                    <logger>logger</logger>
                    <level>level</level>
                    <levelValue>[ignore]</levelValue>
                    <version>[ignore]</version>
                </fieldNames>
                <customFields>{"app":"homefit-ingestion"}</customFields>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="!prod">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="app.homefit" level="DEBUG"/>
</configuration>
